# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# ML model artifacts
*.pkl
*.joblib

# Logs
*.log